/*



   margin: auto;
    background-color: gray;

.box{
  width: 100%;
  padding: 30px;
  background-color: gray;
.box {
    width: 100%;
    padding: 40px 0;
    background-color: #484141;
    text-align: center;
    color: white;
    /* height: 100%; */
  }
 
}
*/