*{
    padding: 0px;
    margin: 0px;
}

.slider {
    width: 100%;
    max-width: 1200px;
    max-height: 700px;
    background-color: #ccc;
    margin: auto;
    position: relative;
    margin-top: 10%;
}
.slider img {
   max-width: 100%;
   max-width: 100%;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50% ,-50%);
  display: none;
}