*{
    margin:0;
    padding: 0;
}

.limparaTabela{
    margin-left: 32%;
    width: 108px;
    margin-top: 10px;
    background-color: #036161;
    border: none;
    border-radius: 8px;
}
.info-lista{
color: red;
}
.info-lista li {
    display: none;
}


td{
    margin: auto;
    width: 200px;
    background-color:  #4841411f;     
    height: 20px;
}
.tabela{ 
    z-index: 100;
    margin: auto;
    width: 500px;    
    margin-top: 10px;  
}

.FrmCadastro{
    float: left;
    position: fixed;
    margin-top: 54px;
    
 
}
.conf{
    float: left;
    position: fixed;
    height: 100%;
    background-color: #072b4a;
    height: 100%;
    width: 22%;
    margin-top: -10px;
    padding: 17px;
}

input{
    padding-left: 10px;
    border: none;
    height: 20px;
    width: 248px;
    border-radius: 6px;
    border: 1px solid blue;
    outline: none;
}
button{
    height: 32px;
    width: 84px;
    border: 1px solid blue;
    border-radius: 8px;
    outline: none;
    color: white;
    background-color: blue;
    font-size: 10pt;
    font-family: arial;
}

.btnescuro{
    height: 32px;
    width: 84px;
    border: 1px solid blue;
    border-radius: 8px;
    outline: none;
    color: white;
    background-color: black;
    font-size: 10pt;
    font-family: arial;
}

.exibirFrm{
height: 22px;
    width: 34px;
    border: 1px solid white;
    border-radius: 8px;
    outline: none;
    color: white;
    background-color: #519414b0;
    font-size: 10pt;
    font-family: arial;
    margin-top: 18px;
    position: fixed;
    margin: 15px;
    float: left;
    z-index: 1;

}