*{
    margin:0;
    padding: 0;
}

.container
{
    height: 100%;
    width: 100%;
}
form {
    background-color:#031006;
    height: 518px;
    width: 308px;
    margin: auto;
    margin-top: 4%;
    border-radius: 17px;
    border: 5px solid #1246022e;
}
.tela {

        width: 241px;
        height: 62px;
        background-color: #dcd4d4;
        margin: auto;
        margin-top: 6%;
        position: absolute;
        margin-left: 2%;
        border-radius: 9px;
        border: 5px solid #73b362ba;
   
}
.BlocoPreto {
    float: right;
    height: 32px;
    width: 129px;
    background-color: #2b2727;
    margin-top: 27px;
    margin-right: 32px;
    border: 5px solid #504747;
}
.BlPreto{
    height: 50px;
    background-color: #504747;
    width: 50px;
}
label
{
    font-size: 41pt;
    margin-left: 10px;
    display: none;
}
 

.teclado-Cond {
    float: right;
    height: 331px;
    width: 78px;
}

.teclado-Cond button {
    height: 53px;
    margin-left: 9px;
 
}
.teclado-numerico {
    float: left;
    height: 331px;
    width: 221px;
    margin-left: 7px;
    
}

.btnCalc {
    height: 306px;
    width: 306px;
    background-color: #cebfbf29;
    margin-top: 199px;
    border-radius: 21px;
    padding-top: 10px;
    padding-right: 2px;
    padding-bottom: -37px;
}
  
button {
    font-size: 28pt;
    width: 64px;
    border: 1px solid #00708e;
    background-color: black;
    border-radius: 8px;
    height: 69px;
    margin: 3px;
    outline: none;
    border: 2px solid #948d9ab5;
    color: white;
  cursor: pointer;
}

    .painel-conf {
        position: fixed;
        z-index: 1;
        margin-top: 155px;
        margin-left: 8%;
    }

.power{
      height: 36px;
        width: 36px;
        background-color: red;
    
}
.reset {
    height: 36px;
    width: 36px;
    font-size: 19pt;
    text-align: center;
    padding-top: 9px;
    background-color: #FFC107;
}

button:hover{
    background-color: #0202109e;
}